@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-scarlet: #CC0033;
  --color-black: #000000;
}

/* simple scarlet accent strip */
.sc-gradient {
  background-image: linear-gradient(135deg, var(--color-scarlet), #8b001f);
}
